<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Entry</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://maps.googleapis.com">
    <link rel="preconnect" href="https://maps.gstatic.com">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>"></script>
</head>
<body>
    <script id="user-data" type="application/json">
        <%- JSON.stringify({ user: user || null }) %>
    </script>
    <div id="react-root"></div>
    <script src="/dist/bundle.js"></script>
</body>
</html>